<!DOCTYPE html>
<html>
<head>
    <title>{{.T.Comment}}</title>
    ${.Var.Header}
</head>
<body>

<form action="" method="post" class="form margin30" id="form1">
    {{range $i,$c := .T.Columns}}{{if $c.Pk}}
    <input type="hidden" field="{{$c.Title}}" name="{{$c.Title}}" value="0"/>{{else}}
    <div class="form-row">{{if $c.NotNull}}
        <label><span class="red">*&nbsp;</span>：{{$c.Comment}}</label>
        <div class="t">
            <input type="text" field="{{$c.Title}}" name="{{$c.Title}}" class="ui-validate" required="true"/>
        </div>{{else}}
        <label>{{$c.Comment}}</label>
        <div class="t">
            <input type="text" field="{{$c.Title}}" name="{{$c.Title}}" class="ui-validate"/>
        </div>{{end}}
    </div>
    {{end}}
    {{end}}


    <div class="form-row">
        <label>&nbsp;</label>
        <div class="t">
            <div class="button btn btb-primary" id="btn_submit">
                提交
            </div>
            <div class="button btn" id="btn_reset" onclick="document.forms[0].reset()">
                重置
            </div>
        </div>
    </div>

</form>

<script type="text/javascript" src="{{.Var.StaticServe}}/assets/js/base.js?spam=${.Var.Spam}"></script>
<script type="text/javascript">
    //var entity = {{.Map.Entity}} || {};
    var formId = 'form1';
    var baseJsUrl = '${.Var.StaticServe}';
    require([baseJsUrl + "/assets/js/super/require_config.js?spam=${.Var.Spam}"], function () {
        require(['base'], pageLoad);
    });

    var $d;
    var flag = 1;
    function pageLoad($B) {
        $d = $B.dialog.getDialog();
        $B.json.bind(formId, entity);

        /*
        //上传缩略图
        $B.upload({
            id: 'upload_btn',
            debug: !true,
            url: '/upload.cgi?type=category-icon',
            exts: '*.gif;*.jpg;*.png;*.bmp'
        }, function (result, data) {
            if (result) {
                $B.$('upload_path').value = data.url;
                $B.$('upload_img').setAttribute('url',
                    '{{.Var.ImgServe}}/' + data.url);
            } else {
                alert('上传失败：' + data);
            }
        });
        */

        $B.$('btn_save').onclick = function () {
            if ($B.validator.validate(formId)) {
                var data = $B.json.toObject(formId);
                if(flag) {
                    flag = 0;
                    $B.xhr.jsonPost('Save{{.T.Title}}', data, function (r) {
                        flag = 1;
                        if (r.result) {
                            $B.dialog.alert('保存成功', function () {
                                if ($d) {
                                    $d.callback('refresh');
                                    $d.close();
                                }
                            });
                        } else {
                            $B.dialog.alert(r.message);
                        }
                    });
                }
            }
        };
    }
</script>
</body>
</html>
